<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="p-5 mb-4 bg-light rounded-3">
	      
	      <div class="container-fluid py-5 text-center">
	        <h1 class="display-5 fw-bold">
	        	<!-- <span th:text="#{welcome.message}">SISTEMA DE ADMINISTRAÇÃO LADDOVE</span> -->
	        	<span>SISTEMA DE ADMINISTRAÇÃO LADDOVE</span>
	        </h1>
	        
	        <p class="col fs-4">Versão 2.0</p>
	      </div>
	      
	    </div>
    </div>
</body>

</html>