<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Banco</title>
</head>

<body>

<div layout:fragment="content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Banco</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pesquisa</li>
    </ol>
  </nav>

  <form action="#" th:action="@{/banco/list}" th:object="${banco}" method="GET">
    <div class="row mb-3 pt-5">
      <label class="control-label col-lg-2 col-form-label text-end" for="nome">Nome</label>
      <div class="col-lg-6">
        <input type="text" class="form-control" id="nome" name="nome" />
      </div>
    </div>

    <div class="row mb-3">
      <label class="control-label col-lg-2 col-form-label text-end" for="codigo">Código</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="codigo" name="codigo" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="offset-lg-2 col-lg-9">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </form>

  <script type="text/javascript" th:src="@{/js/templates/banco.js}"></script>
</div>

</body>
</html>